
.card-container{
    padding: 40px;
    /* box-sizing: border-box; */
    display: flex;
    gap: 40px;
    /* background-color: blue; */

}
.card{
    /* max-width: 550px; */
    /* box-sizing: border-box; */
    padding: 20px;
/* border: 1px solid #DBE5ED; */
/* display: flex; */
}